.player-controls {
  display: flex;
  align-items: center;
  flex-basis: 100px;
  justify-content: space-between;
}

.player-controls button {
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-size: inherit;
}
