.footer {
  position: fixed;
  bottom: 0;
  background-color: #929292;
  width: 100%;
}

.preview-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

.project-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-controls img {
  height: 60px;
  object-fit: contain;
}

.right-controls {
  display: flex;
  flex-basis: 100px;
  justify-content: flex-end;
}

.right-controls > * {
  cursor: pointer;
}
