.preview-popup {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  height: calc(100% - 80px);
  width: 100vw;
  background-color: black;
}

.miniplayer {
  position: fixed;
  bottom: 90px;
  right: 0;
  width: 300px;
}

.preview-left {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.preview-right {
  display: flex;
  margin: 0 20px;
}

.preview-left video {
  height: 100%;
  width: 100%;
}

.exit-preview {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: right;
}

.exit-preview .exit-button {
  margin: 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: inherit;
  color: white;
  visibility: hidden;
}

.exit-preview:hover {
  background-color: #8d8b8b69;
}

.exit-preview:hover .exit-button{
  visibility: visible;
}

@media only screen and (min-width: 1024px) {
  .preview-popup {
    flex-direction: row;
  }
  .preview-left {
    height: 100%;
    flex-basis: 50%;
  }
  .preview-right {
    height: 100%;
    flex-basis: 50%;
  }
}