.project {
  display:flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
}

.project-item {
  display: flex;
  align-items: center;
}

.project-item button {
  flex-basis: 20px;
  cursor: pointer;
  background:none;
  border: none;
  color: white;
  font-size: inherit;
}

.project-item a {
  color: white;
}

.project-number {
  flex-basis: 50px;
}

.project-name {
  margin-left: 10px;
  flex-grow: 4;
  cursor: pointer;
}

.project:hover {
  background-color: #616161;
}

.selected {
  background-color: #616161;
  font-weight: bold;
}

.project-description {
  margin-left: 100px;
  margin-top: 10px;
  font-weight: normal;
}