.project-item {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.link-icon {
  margin-right: 10px;
}

.project-number {
  margin-right: 20px;
}

.project-name {
  margin-left: 10px;
}

.project-item:hover {
  font-weight: bold;
  background-color: #929292;
}

.selected {
  background-color: #929292;
  font-weight: bold;
}

.project-description {
  margin-left: 77px;
  margin-top: 10px;
}