.page {
  overflow-y: auto;
  height: 100vh;
}

.content {
  padding: 0 50px;
}

.shortened {
  height: calc(100vh - 60px);
}

@media only screen and (min-width: 540px) {
  #aboutme {
    display: none;
  }
}